/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --switch-color: #353430;
  --switch-hover-border-color: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-title-bg-color: #ff8dcb;
  --card-text-color: #353430;
  --link-shadow-color: #ff8dcb;

  background-color: #fff;
  background-image: url("../images/cover-image-light.png");
}

.theme_light .header__rec-title {
  color: transparent;
}

.theme_light .header__rec-title::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --switch-color: #353430;
    --switch-hover-border-color: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --section-title-color: #353430;
    --card-title-color: #353430;
    --card-title-bg-color: #ff8dcb;
    --card-text-color: #353430;
    --link-shadow-color: #ff8dcb;
  }

  .page {
    background-color: #fff;
    background-image: url("../images/cover-image-light.png");
  }

  .header__rec-title {
    color: transparent;
  }

  .header__rec-title::after {
    display: none;
  }
}

