/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --switch-color: #ff0070;
  --switch-hover-border-color: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --card-title-bg-color: #ff0070;
  --card-text-color: #f1b2ce;
  --link-shadow-color: #ff0070;

  --font-family-main: 'IBM Plex mono', Arial, monospace;

  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}